---
import ImageComp from "./ImageComp.astro";

const { content } = Astro.props;
---

<section class="relative overflow-hidden mt-16">
  <div
    class="mx-auto px-5 md:px-10 lg:px-20 pb-24 flex flex-col lg:flex-row gap-10 lg:gap-20 items-center my-16"
  >
    <!-- Image with polygon effect -->
    <div class="flex-1 relative">
      <ImageComp
      imagePath="/src/assets/nv-flight-reno_5864_Original.webp"
      imageAlt="Pilot and instructor in cockpit of small plane"
      styles="w-full h-full object-cover shadow-lg rounded-md lg:[clip-path:polygon(0%_0%,_100%_5%,_100%_95%,_0%_100%)]"
      />
    </div>

    <!-- Text content -->
    <div class="flex-1 flex justify-center flex-col gap-5">
      <h3
        class="max-w-2xl text-pretty text-4xl font-bold tracking-wide text-muted-700 sm:text-5xl"
      >
        {content.headerH1}
      </h3>
      <p class="lg:text-lg tracking-wider font-light">
        {content.paragraph1}
      </p>
      <p class="lg:text-lg tracking-wider font-light">
        {content.paragraph2}
      </p>
      {
        content.buttons.map((button) => (
          <a class="btn-primary inline-block w-fit" href={button.link}>
            {button.name}
          </a>
        ))
      }
    </div>
  </div>
</section>
