---
import {
  FACEBOOK_URL,
  INSTAGRAM_URL,
  TWITTER_URL,
  SITE_SHORT_DESCRIPTION,
  LOCATIONS,
  LOGO_NO_BG
} from "../consts";
import { footerLinks } from "../data/footerLinks";
import ImageComp from "./ImageComp.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer
  class="relative bg-[url('/src/assets/reno-montain-footer.webp')] bg-cover bg-no-repeat bg-top text-white px-5"
>
  <!-- Lighter overlay -->

  <div class="absolute inset-0 bg-muted-900/70"></div>

  <div
    class="relative z-10 pt-24 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl border-b border-gray-500"
  >
    <div class="flex flex-row gap-20 justify-between lg:text-left text-center lg:pb-16 pb-10 lg:flex-nowrap flex-wrap ">

      <!-- Column 1: Logo + Tagline + Location + Social -->
      <div class="lg:w-1/2 text-center lg:text-left flex flex-col items-center lg:items-start">
        <a href="/" class="flex items-center mb-4">
          <ImageComp
            imagePath={LOGO_NO_BG}
            imageAlt="NV Flight Logo"
            styles="object-contain h-36 w-auto drop-shadow-lg"
          />
        </a>
        <p class="text-sm text-justify text-gray-200 mb-4 font-medium">{SITE_SHORT_DESCRIPTION}</p>



        <!-- Social icons -->
        <div class="flex items-start align-middle mt-4 gap-4 text-accent-500">
          {INSTAGRAM_URL && (
            <a href={INSTAGRAM_URL} target="_blank" class="hover:text-primary-400 w-6 h-6">
              <svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24">
	              <path fill="currentColor" d="M12.001 9a3 3 0 1 0 0 6a3 3 0 0 0 0-6m0-2a5 5 0 1 1 0 10a5 5 0 0 1 0-10m6.5-.25a1.25 1.25 0 0 1-2.5 0a1.25 1.25 0 0 1 2.5 0M12.001 4c-2.474 0-2.878.007-4.029.058c-.784.037-1.31.142-1.798.332a2.9 2.9 0 0 0-1.08.703a2.9 2.9 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.007 9.075 4 9.461 4 12c0 2.475.007 2.878.058 4.029c.037.783.142 1.31.331 1.797c.17.435.37.748.702 1.08c.337.336.65.537 1.08.703c.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.475 0 2.878-.007 4.029-.058c.782-.037 1.308-.142 1.797-.331a2.9 2.9 0 0 0 1.08-.703c.337-.336.538-.649.704-1.08c.19-.492.296-1.018.332-1.8c.052-1.103.058-1.49.058-4.028c0-2.474-.007-2.878-.058-4.029c-.037-.782-.143-1.31-.332-1.798a2.9 2.9 0 0 0-.703-1.08a2.9 2.9 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.926 4.006 14.54 4 12 4m0-2c2.717 0 3.056.01 4.123.06c1.064.05 1.79.217 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.047 1.066.06 1.405.06 4.122s-.01 3.056-.06 4.122s-.218 1.79-.465 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465c-1.067.047-1.406.06-4.123.06s-3.056-.01-4.123-.06c-1.064-.05-1.789-.218-2.427-.465a4.9 4.9 0 0 1-1.772-1.153a4.9 4.9 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.012 15.056 2 14.717 2 12s.01-3.056.06-4.122s.217-1.79.465-2.428a4.9 4.9 0 0 1 1.153-1.772A4.9 4.9 0 0 1 5.45 2.525c.637-.248 1.362-.415 2.427-.465C8.945 2.013 9.284 2 12.001 2"></path>
              </svg>
            </a>
          )}
          {FACEBOOK_URL && (
            <a href={FACEBOOK_URL} target="_blank" class="hover:text-primary-400">
              <svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24">
	              <path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"></path>
              </svg>
            </a>
          )}
          {TWITTER_URL && (
            <a href={TWITTER_URL} target="_blank" class="hover:text-primary-400">
              <svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24">
	              <path fill="currentColor" d="m17.687 3.063l-4.996 5.711l-4.32-5.711H2.112l7.477 9.776l-7.086 8.099h3.034l5.469-6.25l4.78 6.25h6.102l-7.794-10.304l6.625-7.571zm-1.064 16.06L5.654 4.782h1.803l10.846 14.34z"></path>
              </svg>
            </a>
          )}
        </div>
    </div>

      <!-- Column 2–4: Links in one row -->
      <div class="lg:col-span-4 w-full grid sm:grid-cols-2 md:grid-cols-4 gap-10">
        {footerLinks.map((column) => (
          <div>
            <p class="font-bold text-lg text-primary-200">{column.title}</p>
            <ul class="mt-2 space-y-2">
              {column.links.map((link) => (
                <li>
                  <a href={link.link} class="transition-colors duration-200 text-gray-200 hover:text-primary-400 font-semibold">
                    {link.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))}

        {LOCATIONS.map((location) => (
          <div class="mb-4 flex flex-col items-center lg:items-start gap-2">
            <p class="font-bold tracking-wide text-primary-200 text-lg">{location.title}</p>
            <a href={location.gMaps} target="_blank" class="block text-sm text-gray-200 hover:underline font-semibold">
              {location.address}<br />{location.city}, {location.state} {location.zip}
            </a>
            <a href={`tel:${location.phone}`} class="mt-1 flex items-center text-sm hover:text-primary-400 gap-2 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="text-accent-500">
                <g fill="none" fill-rule="evenodd">
                  <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                  <path fill="currentColor" d="M8.172 15.829c3.845 3.845 7.408 4.266 8.454 4.305c1.264.046 2.554-.986 3.112-2.043c-.89-1.044-2.049-1.854-3.318-2.732c-.749.748-1.672 2.138-2.901 1.64c-.699-.281-2.425-1.076-3.933-2.585S7.283 11.18 7 10.482c-.498-1.231.896-2.156 1.645-2.905c-.878-1.29-1.674-2.479-2.716-3.324c-1.072.56-2.11 1.84-2.063 3.121c.039 1.046.46 4.609 4.306 8.455m8.38 6.304c-1.44-.053-5.521-.617-9.795-4.89c-4.273-4.274-4.836-8.354-4.89-9.795c-.08-2.196 1.602-4.329 3.545-5.162a1.47 1.47 0 0 1 1.445.159c1.608 1.173 2.717 2.95 3.67 4.342A1.504 1.504 0 0 1 10.35 8.7l-1.356 1.357C9.309 10.752 9.95 11.95 11 13s2.248 1.691 2.944 2.006l1.355-1.356a1.5 1.5 0 0 1 1.918-.171c1.42.984 3.088 2.077 4.304 3.634a1.47 1.47 0 0 1 .189 1.485c-.837 1.953-2.955 3.616-5.158 3.535" />
                </g>
              </svg>
              {location.phone}
            </a>
          </div>
        ))}
      </div>
    </div>
    <div class="w-full mb-6">
        <span class="flex justify-center gap-2 text-center">
          Powered by
          <a
            href="https://rightruddermarketing.com/"
            target="_blank"
            class="text-bold group hover:underline hover:text-white/70 flex items-center gap-2 duration-200"
          >
            <ImageComp
              imagePath="/src/assets/RRM-R-symbol-474.webp"
              imageAlt="Right Rudder Marketing Logo"
              styles="h-6 w-auto group-hover:scale-105 group-hover:brightness-125 drop-shadow-md duration-300"
            />
            More Right Rudder
          </a>
        </span>
      </div>
  </div>

  <!-- Bottom bar with shorter line -->
  <div class="relative z-10 flex flex-col items-center gap-2 py-6">
    <p class="text-sm">
        © Copyright {year} &#x2022; NV Flight School,
        LLC. &#x2022; All rights reserved.
        <a href="/privacy-policy" class="hover:underline hover:text-primary-400"> Privacy Policy</a> &
        <a href="/terms-of-service" class="hover:underline hover:text-primary-400"> Terms of Service</a>
    </p>
  </div>
</footer>
