---
import ImageComp from "./ImageComp.astro";
const { content } = Astro.props;

---

<section
  class="h-[90vh] min-h-max font-sans text-muted-300 flex items-center justify-center lg:justify-start overflow-hidden relative px-6 py-12"
>
  <!-- Background Image & Overlay -->
   <div
      class="absolute inset-0 bg-muted-950/60 -z-10 blur-3xl"
    >
    </div>
  <ImageComp
    imagePath={content.imagePath}
    imageAlt={content.imageAlt}
    styles="absolute inset-0 h-full w-full object-cover object-center md:object-center -z-20"
  />

  <!-- Text -->
  <div
    class="text-muted-50 mt-24 lg:ml-24 text-center lg:text-left z-10 flex flex-col items-center lg:items-start justify-center"
  >
    <p
      class="text-5xl md:text-6xl uppercase leading-20 lg:leading-[4.5rem] lg:text-7xl drop-shadow-md font-bold animate-fade-top"
      set:html={content.headerH1}
    />
    <h1
      class="text-xl mt-5 font-semibold font-sans tracking-wide max-w-2xl animate-fade-right"
      set:html={content.paragraph}
    />
    <div
      class="mt-6 mx-3 lg:mx-0 flex flex-wrap justify-center lg:justify-start align-middle items-center gap-6 z-10 animate-fade-bottom"
    >
      {
        content.buttons.map((btn) => (
          <a
            href={btn.link}
            class={`${btn.primary ? "btn-primary" : "btn-white"} w-full md:w-auto`}
          >
            <span class="drop-shadow-sm">{btn.name}</span>
          </a>
        ))
      }
    </div>
  </div>
</section>
